<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>890890717206-um0it0b92n2g8ht83pc77kqe9c3uo95d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890890717206-um0it0b92n2g8ht83pc77kqe9c3uo95d</string>
	<key>API_KEY</key>
	<string>AIzaSyCWVb9AcEhbwTeQGP4XmXzrWDVAI8oYdjE</string>
	<key>GCM_SENDER_ID</key>
	<string>890890717206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gditdev.ch.Demo1.JWQuiz</string>
	<key>PROJECT_ID</key>
	<string>jwquiz-c3413</string>
	<key>STORAGE_BUCKET</key>
	<string>jwquiz-c3413.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:890890717206:ios:de3f99072addc96a</string>
	<key>DATABASE_URL</key>
	<string>https://jwquiz-c3413.firebaseio.com</string>
</dict>
</plist>